@page "/hospital/checkups/add/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.Checkup.AddCheckupToHospitalModel
@{
    ViewData["Title"] = "Add checkup";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
            <h1 style="color:#002133">@Model.Hospital.Name, @Model.Hospital.City</h1>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="createMedicinePrescriptionForm" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-4">
                    <select class="form-select" id="multiple-select-field" name="checkups" data-placeholder="Select checkups" multiple>
                        @foreach (var checkup in Model.Checkups)
                        {
                                <option value="@checkup.Id">@checkup.Name</option>
                        }
                    </select>
                </div>
                <div class="d-flex justify-content-end ms-5 mt-3">
                    <button id="confirmMedicineSubmit" type="submit" class="btn text-white" style="background-color: #006622">Confirm</button>
                </div>
            </form>
            @if (ViewData["Message"] != null)
            {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewData["Message"]");
                        };
                    </script>
            }
        </div>
    </div>
</div>
<script>
    $('#select-medicine').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $( '#multiple-select-field' ).select2( {
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: $( this ).data( 'placeholder' ),
    closeOnSelect: false,
} );
</script>
@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
