@page "/reservation/createReservationDetails/{id:Guid}"
@using BookIt.Core.Enums
@model BookIt.Frontend.Pages.Reservation.CreateReservationDetailsModel
@{
        ViewData["Title"] = "Start your reservation";
}

<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
        <h1>@ViewData["Title"]</h1>
        <h4>@ViewData["RestaurantName"]</h4>
        <h4>@ViewData["Address"]</h4>
        </div>
        <div>
            <form id="createReservationDetailsForm" asp-page="CreateReservation" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input id="reservationDate" type="date" name="reservationDate" class="form-control" required min="@DateTime.Now.AddDays(-2).ToString("yyyy-MM-dd")" />
                <label for="reservationDate">Reservation date</label>
            </div>
            <div class="form-floating">
                <input id="numberOfPersons" type="number" name="numberOfPersons" class="form-control" required min="1" max="12" />
                <label for="numberOfPersons">Number of persons</label>
            </div>
            <div class="form-floating">
                <select id="tableArea" class="form-control" name="tableArea">
                    <option disabled selected>Select a table area</option>
                    @foreach (var area in  (TableArea[])Enum.GetValues(typeof(TableArea)))
                    {
                        <option value="@area.ToString()">@area.ToString()</option>
                    }
                </select>
                <label for="tableArea">Table area</label>
            </div>
            <div class="form-floating">
                <select id="smokingArea" name="smokingArea" class="form-control">
                    <option disabled selected>Select a smoking area</option>
                    @foreach (var smoking in  (TableSmoking[])Enum.GetValues(typeof(TableSmoking)))
                    {
                        <option value="@smoking.ToString()">@smoking.ToString()</option>
                    }
                </select>
                <label for="smokingArea">Smoking area</label>
            </div>
            <input type="hidden" name="restaurantId" value="@Model.Id"/>
            <button id="createReservationDetailsSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Next</button>
            </form>
        </div>  
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

