@page "/appointment/edit/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.Appointment.EditAppointmentDetailsModel
@{
    ViewData["Title"] = "Medical report";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
            <h1 style="color: #002133">@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="editAppointmentForm" method="post">
                <hr />
                <div class="nameSurnameDetails">
                    <font size="+3">
                        <b style="color: #002133">
                            @Model.Appointment.PatientMbo
                            @Model.Appointment.PatientFirstName @Model.Appointment.PatientLastName
                        </b> (@Model.Appointment.PatientDateOfBirth.ToString("dd.MM.yyyy")) <br />
                    </font>
                </div>
                <div class="nameSurnameDetails">
                    <font size="+1">
                        <b style="color: #002133">
                            Cause <br />
                        </b>
                        @Model.Appointment.Cause
                    </font>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mt-3">
                    <b style="color: #002133">
                        Medical report <br />
                    </b>
                    <textarea rows="8" cols="45" id="medicalReport" name="medicalReport">@Model.Appointment.MedicalReport</textarea>
                </div>
                <div class="d-flex justify-content-end ms-5 mt-3">
                <button id="editAppointmentSubmit" type="submit" style="background-color: #006622" class="btn text-white justify-content-end">Confirm</button>
                </div>
            </form>
            @if (ViewData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewData["Message"]");
                    };
                </script>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
