@page "/appointment/detail/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.Appointment.ViewAppointmentDetailsModel
@{
    ViewData["Title"] = "Appointment Details";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="appointmentDetailsForm" method="post">
                <hr />
                <div class="nameSurnameDetails">
                    <font size="+3">
                    <b>
                        @Model.Appointment.PatientMbo
                        @Model.Appointment.PatientFirstName @Model.Appointment.PatientLastName
                        </b> (@Model.Appointment.PatientDateOfBirth.ToString("dd.MM.yyyy")) <br />
                    </font>
                </div>
                <div class="nameSurnameDetails">
                    <font size="+1">
                        <b>
                            Cause <br />
                        </b>
                            @Model.Appointment.Cause
                    </font>
                </div>
                <div class="form-floating align-items-center justify-content-center mt-2">
                    @if(Model.Appointment.MedicalReport is null)
                    {

                        <a class="btn btn-outline-success" asp-area="" asp-page="/Appointment/EditAppointmentDetails" asp-route-id="@Model.Appointment.Id"><i class="bi bi-person-fill-check"></i> Medical report</a> <br />
                    }
                    else
                    {
                        <font size="+1">
                            <b>
                                Medical report <br />
                            </b>
                            @Model.Appointment.MedicalReport<text>&nbsp;</text>
                        </font>
                       <a class="btn btn-outline-success" asp-area="" asp-page="/Appointment/EditAppointmentDetails" asp-route-id="@Model.Appointment.Id"><i class="bi bi-person-fill-check"></i> Edit</a><br />
                    }<br />
                    <div class="row justify-content-around">
                        <div class="col-4">
                            @if (Model.PatientVaccines is not null)
                            {
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                           <th>Name</th>
                                           <th>Dosage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var vaccine in Model?.PatientVaccines)
                                        {
                                            <tr class="align-middle">
                                                <td class="d-none d-lg-table-cell">@vaccine.VaccineName</td>
                                                <td class="d-none d-lg-table-cell">@vaccine.Dosage mg</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a class="btn btn-outline-success" asp-area="" asp-page="/PatientVaccines/CreatePatientVaccine" asp-route-id="@Model.Appointment.Id"><i class="bi bi-person-fill-check"></i> Vaccine</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-success" asp-area="" asp-page="/PatientVaccines/CreatePatientVaccine" asp-route-id="@Model.Appointment.Id"><i class="bi bi-person-fill-check"></i> Vaccine</a>
                            }
                        </div>
                        <div class="col-4">
                            @if (Model.MedicinePrescriptions is not null)
                            {
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Medicine</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var medicine in Model.MedicinePrescriptions)
                                        {
                                            <tr class="align-middle">
                                                <td class="d-none d-lg-table-cell">@medicine.MedicineName</td>
                                                <td class="d-none d-lg-table-cell">@medicine.Description</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a class="btn btn-outline-success" asp-area="" asp-page="/MedicinePrescription/CreateMedicinePrescription" asp-route-id="@Model.Appointment.Id"><i class="bi bi-person-fill-check"></i> Medicine prescription</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-success" asp-area="" asp-page="/MedicinePrescription/CreateMedicinePrescription" asp-route-id="@Model.Appointment.Id"><i class="bi bi-person-fill-check"></i> Medicine prescription</a>
                            }
                        </div>
                    </div>
                </div>
            </form>
            @if (ViewData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewData["Message"]");
                    };
                </script>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
