@page "/patient/appointments/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.Appointment.ViewAllPatientAppointmentsModel
@{
    ViewData["Title"] = "Appointments";
    var sort = ViewData["CurrentSort"] as string;
    var keyword = ViewData["Keyword"] as string;
    var prevDisabled = !Model.Appointments.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Appointments.HasNextPage ? "disabled" : "";
}
<h1 style="color:#002133">@ViewData["Title"]</h1>
<br />
<h3 style="color:#002133">@Model.Patient.Mbo</h3>
<h3 style="color:#002133">@Model.Patient.FirstName @Model.Patient.LastName (@Model.Patient.DateOfBirth.ToString("dd.MM.yyyy"))</h3>
<hr />

<div class="form-actions no-color col">
    <form asp-action="ViewAllPatientAppointments" method="get">
        <div class="row">
            <div class="col-4 col-sm-7">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" style="width:250px;" placeholder="Search..." name="keyword" value="@keyword">
                    <button type="submit" class="btn text-white" style="background-color:#004266"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <div class="col-1">
                <a asp-action="ViewAllPatientAppointments" class="btn btn-secondary clear-btn">Clear</a>
            </div>
            <div class="col-7 col-sm-4 text-end">
                @if (User.Identity!.IsAuthenticated)
                {
                    <a class="btn text-white d-none d-lg-inline-block" style="background-color:#004266" asp-area="" asp-page="/Appointment/CreateAppointment"><i class="fa-solid fa-file-pen" style="color: #ffffff;"></i> New appointment</a>
                }
            </div>
        </div>
    </form>
</div>

<table class="table table-responsive">
    <thead>
        <tr>
            @foreach (var property in Model.AppointmentModelProperties)
            {
                if (property != "Cause" && property != "Status")
                {
                    <th class="@(property == "PatientLastName" ? "" : "d-none d-lg-table-cell")" style="color: #002133">

                        @property
                        @if (sort is null)
                        {
                            <a asp-page="ViewAllPatientAppointments" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-dateFilter="@ViewData["DateFilter"]" asp-route-sort=@($"{@property}") class="sort-icon"><span class="bi bi-arrow-up"></span></a>
                            <a asp-page="ViewAllPatientAppointments" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-dateFilter="@ViewData["DateFilter"]" asp-route-sort=@($"{@property}Desc") class="sort-icon"><span class="bi bi-arrow-down"></span></a>

                        }
                        else if (sort.Contains("Desc"))
                        {
                            <a asp-page="ViewAllPatientAppointments"
                   asp-route-sort=@($"{@property}")
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-dateFilter="@ViewData["DateFilter"]"
                   class="sort-icon"><span class="bi bi-arrow-down"></span></a>
                        }
                        else
                        {
                            <a asp-page="ViewAllPatientAppointments" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-dateFilter="@ViewData["DateFilter"]" asp-route-sort=@($"{@property}Desc") class="sort-icon"><span class="bi bi-arrow-up"></span></a>
                        }
                    </th>
                }
                else
                {
                    <th class="d-none d-lg-table-cell" style="color: #002133">
                        @property
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.Appointments.Count() > 0)
        {
            @foreach (var appointment in Model.Appointments)
            {
                <tr class="align-middle">
                    <td class="d-none d-lg-table-cell">@appointment.PatientMbo</td>
                    <td class="d-none d-lg-table-cell">@appointment.PatientFirstName</td>
                    <td class="">@appointment.PatientLastName</td>
                    <td class="d-none d-lg-table-cell">@appointment.AppointmentDate.ToString("dd.MM.yyyy")</td>
                    <td class="d-none d-lg-table-cell">@appointment.Cause</td>
                    <td>
                        <a class="btn-blue-custom" asp-page="ViewAppointmentDetails" asp-route-id="@appointment.Id"><i class="bi bi-info-lg"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <ul class="pagination">
        <li class="page-item">
            <a asp-page="./ViewAllPatientAppointments"
               asp-route-sort="@ViewData["CurrentSort"]"
               asp-route-pageIndex="@(Model.Appointments.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-dateFilter="@ViewData["DateFilter"]"
               class="page-link @prevDisabled text-white" style="background-color: #004266">
                Previous
            </a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.Appointments.PageIndex ? "active" : "")">
                <a asp-page="./ViewAllPatientAppointments"
               asp-route-sort="@ViewData["CurrentSort"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-dateFilter="@ViewData["DateFilter"]"
               asp-route-pageIndex="@i" class="page-link text-black" style="background-color:#fff">
                    @i
                </a>
            </li>
        }
        <li class="page-item">
            <a asp-page="./ViewAllPatientAppointments"
               asp-route-sort="@ViewData["CurrentSort"]"
               asp-route-pageIndex="@(Model.Appointments.PageIndex +1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-dateFilter="@ViewData["DateFilter"]"
               class="page-link @nextDisabled text-white" style="background-color: #004266">
                Next
            </a>
        </li>
    </ul>
</div>

