@using Microsoft.AspNetCore.Identity
@using PrimeCareMed.Core.Entities.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrimeCareMed.Frontend</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@*    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@
</head>
<body>
    @{
        var _action = this.Url.ActionContext.ActionDescriptor.DisplayName;
    }
    <div class="vh-100 d-flex">
        @if (SignInManager.IsSignedIn(User))
        {
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; background-color:#002133;">
            <a asp-area="" asp-page="/Index" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-1 font-weight-bold" style="font-family: Garamond, serif;">PrimeCareMed</span>
            </a>
                @if (User.IsInRole("Doctor"))
                {
                    @if (_action != "/Index")
                    {
                        @foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                        {
                            @if (@cookie.Key == "shiftCookie")
                            {
                                <a class="text-white fs-5 text-decoration-none" style="font-family: Garamond, serif;">@cookie.Value.ToString()</a>
                            }
                            else if (@cookie.Key == "shiftCookieDetails")
                            {
                                <a class="text-white fs-5 text-decoration-none" style="font-family: Garamond, serif;">@cookie.Value.ToString()</a>
                            }
                        }
                    }
                    else
                    {
                        <a class="text-white fs-5 text-decoration-none" style="font-family: Garamond, serif;">@Model.OfficeString</a>
                        <a class="text-white fs-5 text-decoration-none" style="font-family: Garamond, serif;">@Model.NurseString</a>
                    }

                }
                else if (User.IsInRole("Nurse"))
                {
                    @if (_action != "/Index")
                    {
                        @foreach (var cookie in HttpContextAccessor.HttpContext.Request.Cookies)
                        {
                            @if (@cookie.Key == "shiftCookieDetails")
                            {
                                <a class="text-white" style="font-family: Garamond, serif;">@cookie.Value.ToString()</a>
                            }
                            else if (@cookie.Key == "shiftCookie")
                            {
                                <a class="text-white" style="font-family: Garamond, serif;">@cookie.Value.ToString()</a>
                            }
                        }
                    }
                    else
                    {
                        <a class="text-white" style="font-family: Garamond, serif;">@Model.OfficeString</a>
                        <a class="text-white" style="font-family: Garamond, serif;">@Model.DoctorString</a>
                    }
                }
                else
                {
                    
                }
            <hr style="color:#fff; background-color:#fff;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item" style="font-size:20px">
                    <a asp-area="" asp-page="/Index" class="nav-link text-white" aria-current="page">
                        <i class="bi bi-house-fill"></i>
                        Home
                    </a>
                </li>
                @if (User.IsInRole("Administrator") || User.IsInRole("SysAdministrator"))
                {
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Users/ViewAllUsers" class="nav-link text-white" aria-current="page">
                            <i class="bi bi-person-badge"></i>
                            Users
                        </a>
                    </li>
                    
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/GeneralMedicineOffice/ViewAllOffices" class="nav-link text-white" aria-current="page">
                            <i class="bi bi-hospital-fill"></i>
                            Offices
                        </a>
                    </li>
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Vaccine/ViewAllVaccines" class="nav-link text-white" aria-current="page">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" fill="white">
                                <path d="M441 7l32 32 32 32c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-15-15L417.9 128l55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-72-72L295 73c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l55 55L422.1 56 407 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0zM210.3 155.7l61.1-61.1c.3 .3 .6 .7 1 1l16 16 56 56 56 56 16 16c.3 .3 .6 .6 1 1l-191 191c-10.5 10.5-24.7 16.4-39.6 16.4H97.9L41 505c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l57-57V325.3c0-14.9 5.9-29.1 16.4-39.6l43.3-43.3 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57 41.4-41.4 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57z" />
                            </svg>
                            Vaccines
                        </a>
                    </li>
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Medicine/ViewAllMedicines" class="nav-link text-white" aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512" fill="white">
                                    <path d="M0 32C0 14.3 14.3 0 32 0H352c17.7 0 32 14.3 32 32V64c0 17.7-14.3 32-32 32H32C14.3 96 0 81.7 0 64V32zm32 96H352V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zM160 240v48H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h48v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V352h48c8.8 0 16-7.2 16-16V304c0-8.8-7.2-16-16-16H224V240c0-8.8-7.2-16-16-16H176c-8.8 0-16 7.2-16 16z" />
                                </svg>
                            Medicines
                        </a>
                    </li>
                        
                }
                    
                @if (!User.IsInRole("Administrator"))
                {
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Patients/ViewAllPatients" class="nav-link text-white" aria-current="page">
                            <i class="bi bi-people-fill"></i>
                            Patients
                        </a>
                    </li>
                    <li class="nav-item" style="font-size:20px">
                        <a asp-area="" asp-page="/Appointment/ViewAllAppointments" class="nav-link text-white" aria-current="page">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="white">
                                <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192H400V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192z" />
                            </svg>
                            Appointments
                        </a>
                    </li>
                }
                <li class="nav-item" style="font-size:20px">
                    <a asp-area="" asp-page="/Appointment/WaitingRoom" class="nav-link text-white" aria-current="page">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="white">
                                <path d="M256 0h64c17.7 0 32 14.3 32 32V96c0 17.7-14.3 32-32 32H256c-17.7 0-32-14.3-32-32V32c0-17.7 14.3-32 32-32zM64 64H192v48c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V64H512c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64zM176 437.3c0 5.9 4.8 10.7 10.7 10.7H389.3c5.9 0 10.7-4.8 10.7-10.7c0-29.5-23.9-53.3-53.3-53.3H229.3c-29.5 0-53.3 23.9-53.3 53.3zM288 352a64 64 0 1 0 0-128 64 64 0 1 0 0 128z" />
                            </svg>
                        Waiting Room
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                @*@if (User.IsInRole("Doctor"))
                {
                    <form id="logoutForm" class="form-inline" asp-area="" asp-page="/Shift/CreateShift" asp-page-handler="endShift" class="nav-link text-white" aria-current="page">
                        <button id="endShift" type="submit" class="text-white">End Shift</button>
                    </form>
                }*@
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://icon-library.com/images/person-png-icon/person-png-icon-29.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>@UserManager.GetUserName(User)</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">Logout</button>
                    </form>
                    <form id="endShiftForm" class="form-inline" asp-area="" asp-page="/Shift/CreateShift" asp-page-handler="endShift">
                        <button id="endShift" type="submit" class="dropdown-item">End Shift</button>
                    </form>
                </ul>
            </div>
        </div>
        }
        <div class="px-4 flex-column flex-grow-1 d-flex flex-column py-2">
            <div class="flex-grow-1">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary">Ivana Mihanovic 2023 - PrimeCareMed</span>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
