@page "/office/shifts/{id:Guid}"
@model PrimeCareMed.Frontend.Pages.Shift.ViewAllShiftsForOfficeModel
@{
    ViewData["Title"] = "Shifts";
}
<h1 style="color:#002133">@Model.OfficeModel.Name, @Model.OfficeModel.City</h1>
<h3 style="color:#002133">@ViewData["Title"]</h3>
<hr />

<div class="form-actions no-color col">
    <form asp-action="ViewAllPatients" method="get">
        <div class="row">
            <div class="col-4 col-sm-7">
                @* <div class="input-group mb-3">*@
                @* <input type="search" class="form-control" placeholder="Search..." name="keyword" value="@keyword">
                <select class="form-select" aria-label="Example select with button addon" name="categoryFilter">
                <option value="">All categories</option>
                @foreach (var category in Enum.GetNames(typeof(DishCategory)))
                {
                <option value="@category" selected="@(category == categoryFilter)">@category</option>
                }
                </select>
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </div>*@
            </div>
            @*<div class="col-1">
            <a asp-action="ViewAllDishes" class="btn btn-secondary clear-btn">Clear</a>
            </div>*@
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="color:#002133">Doctor</th>
            <th style="color:#002133">Nurse</th>
            <th style="color:#002133">Shift started</th>
            <th style="color:#002133">Shift ended</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Shifts.Count() > 0)
        {
            @foreach (var shift in Model.Shifts)
            {
                <tr class="align-middle">
                    <td class="d-none d-lg-table-cell">@shift.DoctorFirstName @shift.DoctorLastName</td>
                    <td class="d-none d-lg-table-cell">@shift.NurseFirstName @shift.NurseLastName</td>
                    <td class="d-none d-lg-table-cell">@shift.ShiftStartTime.ToString("dd.MM.yyyy. HH:mm:ss")</td>
                    @if (shift.ShiftEndTime.HasValue)
                    {
                        <td class="d-none d-lg-table-cell">@shift.ShiftEndTime?.ToString("dd.MM.yyyy. HH:mm:ss")</td>
                    }
                    else
                    {
                        <td>
                            <a>-</a>
                        </td>
                    }
                    @if (User.IsInRole("SysAdministrator"))
                    {
                        <td>
                            <a class="btn-blue-custom" asp-page="../Appointment/AppointmentsForShift" asp-route-id="@shift.Id">Appointments</a>
                        </td>
                    }
                    

                </tr>
            }
        }
    </tbody>
</table>
