@page
@using BookIt.Core.Enums;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model BookIt.Frontend.Pages.Tables.CreateTableModel
@{
    ViewData["Title"] = "Create table";
}

<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
        <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <form id="createTableForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <select asp-for = "NewTable.Area" class="form-control">
                    <option disabled selected>Select a table area</option>
                    @foreach (var area in  (TableArea[])Enum.GetValues(typeof(TableArea)))
                    {
                        <option value="@area.ToString()">@area.ToString()</option>
                    }
                </select>
                <label asp-for="NewTable.Area"></label>
            </div>
            <div class="form-floating">
                <select asp-for = "NewTable.Smoking" class="form-control">
                    <option disabled selected>Select a smoking area</option>
                    @foreach (var smoking in  (TableSmoking[])Enum.GetValues(typeof(TableSmoking)))
                    {
                        <option value="@smoking.ToString()">@smoking.ToString()</option>
                    }
                </select>
                <label asp-for="NewTable.Smoking"></label>
            </div>
            @if(Model.Restaurants.Count() > 0 && User.IsInRole("Administrator"))
            {
                <div class="form-floating">
                    <select asp-for = "NewTable.RestaurantId" class="form-control">
                        <option disabled selected>Select a restaurant</option>
                        @foreach (var restaurant in Model.Restaurants)
                        {
                            <option value="@restaurant.Id">@restaurant.RestaurantName @restaurant.Address</option>
                        }
                    </select>
                    <label asp-for="NewTable.RestaurantId"></label>
                </div>         
            }         
            <button id="createTableSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Create table</button>
            </form>
        </div>  
    </div>
</div>
<a class="btn btn-primary"  onclick="window.history.back()">
    Back <i class='fas fa-angle-left'></i>
</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
