@page "/restaurantDish/create/{id:Guid}"
@model BookIt.Frontend.Pages.RestaurantDish.CreateRestaurantDishModel
@{
    ViewData["Title"] = "Add dish to meni";
}
<div class="container text-center d-flex align-items-center justify-content-center">
    <div>
        <div>
        <h1>@ViewData["Title"]</h1>
        <h5>Restaurant: @ViewData["RestaurantName"] @ViewData["Address"]</h5>
        <h5>Dish: @ViewData["DishName"] Category: @ViewData["DishCategory"]</h5>
        </div>
        <div>
            <form id="createRestaurantDishForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="NewRestaurantDish.Price" class="form-control" aria-required="true" type="number"/>
                <label asp-for="NewRestaurantDish.Price"></label>
                <span asp-validation-for="NewRestaurantDish.Price" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="NewRestaurantDish.IsAvailable" class="form-control" aria-required="true" type="checkbox" />
                <label asp-for="NewRestaurantDish.IsAvailable"></label>
                <span asp-validation-for="NewRestaurantDish.IsAvailable" class="text-danger"></span>
            </div>            
            <button id="createRestaurantDishSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add a dish to the menu</button>
            </form>
        </div>  
    </div>
</div>
<a asp-area="" asp-page="/Restaurant/ViewAllRestaurants" class="btn btn-primary" aria-current="page">
    <i class="fas fa-utensils"></i> Restaurants
</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
